* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #a1c3ff;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background-color: #3474e6;
  color: #fff;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.header {
  background-color: #0151cc;
  color: #fff;
  min-height: 400px;
}

.header h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2;
}

.header .container {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  justify-content: space-between;
}

.boxes .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  flex: 1;
  background-color: #0a51cc;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .boxes .container {
    flex-direction: column;
    text-align: center;
  }
}
