* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  color: #555;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: lighter;

  font: normal 16px Arial, Helvetica, sans-serif;

  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

/* a:visited {
  color: yellow;
} */

.container {
  width: 80%;
  margin: auto;
}

.box-1 {
  background-color: #333;
  color: #fff;

  border-right: 5px red solid;
  border-top: 5px red solid;
  border-bottom: 5px red solid;
  border-left: 5px red solid;

  border: 5px red solid;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;

  padding: 20px;

  margin: 20px 0;

  height: 300px;
  width: 400px;
  overflow: auto;
}

.box-1 h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.box-2 {
  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px 0;
}

.button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
}

.categories {
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding: 0;
  padding-left: 20px;
  list-style: none;
}

.categories li {
  padding-bottom: 6px;
  border-bottom: dotted 1px #333;
  list-style-image: url("../day-19/images/check.png");
}

.my-form {
  padding: 20px;
}

.my-form .form-group {
  padding-bottom: 15px;
}

.my-form label {
  display: block;
}

.my-form input[type="text"],
.my-form textarea {
  padding: 8px;
  width: 100%;
}

.block {
  float: left;
  width: 33.3%;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
}

#main-block {
  float: left;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  background-color: #333;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
}

.my-list li:first-child {
  background-color: red;
}
.my-list li:last-child {
  background-color: red;
}
.my-list li:nth-child(3) {
  background-color: red;
}
.my-list li:nth-child(even) {
  background-color: green;
}

.p-box {
  width: 800px;
  height: 500px;
  border: 1px solid #000;
  margin-top: 30px;
  background-image: url("../day-19/images/bgimage.jpg");
  position: relative;
}

.p-box h1 {
  top: 100px;
  left: 200px;
  position: absolute;
}
.p-box h2 {
  bottom: 40px;
  right: 100px;
  position: absolute;
}

.fix-me {
  position: fixed;
  top: 100px;
}

.nav-bar ul {
  list-style: none;
  overflow: hidden;
  background-color: #555;
}

.nav-bar a {
  color: #f4f4f4;
  padding: 15px;
  display: block;
  text-align: center;
}

.nav-bar a:hover {
  background-color: hsl(0, 0%, 10%);
}

.nav-bar li {
  float: left;
}
