* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf2f8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
  font-size: 13px;
}

.testimonials {
  max-width: 1440px;
  margin: 100px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 10px;
  box-shadow: 0px 48px 100px rgba(17, 12, 46, 0.15);
}

.card_header {
  display: flex;
  margin-bottom: 10px;
}

.card_header h3 {
  font-size: 15px;
}

.card_header p {
  opacity: 50%;
}

.card_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #996ed9;
  margin-right: 10px;
}

.card_lead {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}

.card_quote {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  opacity: 70%;
}

.card:nth-of-type(1) {
  grid-column: 1/3;
}

.card:nth-of-type(4) {
  grid-column: 2/4;
  grid-row: 2;
}
